/* common */
* {
    box-sizing: border-box;
    margin : 0; 
    padding: 0;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.star_divider {
    height: 50px;
    margin-top: 30px;
}
.btn {
    padding: 10px;
    border-radius: 5px;
}
/* header */
header {
    height: 150px;
    background-color: #2C3E51;
}
header .col-xs-2  {
    height: 80px;
    margin-top: 35px;
    background-color: white;
}
header  h4 {
    line-height: 150px;
    margin:0px;
    vertical-align: middle;
    color: white;
}
/* jumbotron */
.jumbotron {
    height: 450px;
    text-align:center;
    background-color: #3BBC9C;
}
#profile {
    height:200px;
}
.jumbotron h1,
.jumbotron h4{
    color: white;
}
.jumbotron .star_divider {
    background-color:white;
}
.jumbotron h4 {
    margin-top: 30px;
}
/* main */
main h3 {
    text-align: center;
    color:#333333;
}
main .star_divider {
    background-color:#2C3E51;
}
.main_image {
    display:block;
    margin:auto;
    height: 300px;
}
.home {
    border-radius : 10px;
    background-color:#BA4B63;
}
.cake {
    border-radius : 10px;
    background-color: #32A4B6;
}
.circus {
    border-radius : 10px;
    background-color:#150F0F;
}
.game {
    border-radius : 10px;
    background-color:#2583C1;
}
.safe {
    border-radius : 10px;
    background-color:#0E38B5;
}
.submarine {
    border-radius : 10px;
    background-color: #CCB2A3;
}
/* section1 */
.section_1 {
    height: 500px;
    color:white;
    background-color: #3BBC9C;
}
.section_1 h3 {
    padding-top: 40px;
}
.section_1 .star_divider {
    background-color: white;
}
.section_1 p {
    padding-top: 25px;
}
.btn_middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
}
/* section2 */
.section_2 {
    height: 500px;
}
.section_2 h3 {
    color:#333333;
}
.section_2 .star_divider {
    background-color:#2C3E51;
}
.no_padding > label,
.no_padding > input {
    padding:0px;
}
input {
    border: 0px;
    border-bottom: 1px solid grey;
}
input:focus {
    outline: none;
}
.section_2 .btn_green {
    width: 60px;
    color: white;
    background-color: #3BBC9C;
    border: none;
}
.no_padding > input.message {
    height: 70px;
    margin-bottom: 15px;
}
/* footer */
footer {
    color: white;
    text-align: center;
}
.section_footer_1 {
    height:400px;
    font-size: 20px;
    background-color: #3A546E;
}
.margin_top_30 {
    margin-top: 30px;
}
.little_logos {
    display:inline-block;
    width:50px;
    height:50px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 50%;
}
.little_logos i {
    line-height: 50px;
    vertical-align: middle;
}
span {
    color:#3BBC9C;
}
.section_footer_2 {
    height: 120px;
    line-height: 120px;
    vertical-align: middle;
    background-color: #2C3E51;
}
@media screen and (max-width: 767px) {
    .main_image {
        height: 200px;
    }
}
