/* common */
* {
    box-sizing: border-box;
    margin : 0; 
    padding: 0;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.star_divider {
    text-align:center;
    margin-top: 10px;
    font-size: 40px;
}
.btn {
    padding: 10px;
    border-radius: 5px;
}
.line {
    width: 20%;
    height:5px;
    border-radius: 5px;
    vertical-align:middle;
    display:inline-block;
}
.bg_blue {
    background-color:#2C3E51;
}
.bg_white {
    background-color: white;
}
/* header */
header {
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: #2C3E51;
}
.navbar-default .navbar-nav>li>a {
    padding:0;
    line-height: 100px;
    font-size: 20px;
    padding-right: 10px;
    vertical-align: middle;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #3BBC9C;
}
.navbar-default .navbar-nav>li>a:active {
    color: #3BBC9C;
}
.navbar-default {
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    border-color: #2C3E51;
    background-color: #2C3E51;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-brand {
    padding:0;
    margin:0;
    padding-left : 15px;
    line-height: 100px;
    font-size: 28px;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
}
header h4 {
    line-height: 100px;
    margin:0px;
    vertical-align: middle;
    color: white;
}
/* jumbotron */
.jumbotron {
    text-align:center;
    padding-top: 120px;
    background-color: #3BBC9C;
}
#profile {
    height:200px;
}
.jumbotron h1,
.jumbotron h5{
    color: white;
}
.jumbotron .star_divider {
    color:white;
}
.jumbotron h5 {
    margin-top: 10px;
}
/* main */
main h3 {
    text-align: center;
    color:#333333;
}
.main_image {
    display:block;
    margin:auto;
    width:100%;
    border-radius : 10px;
    overflow: hidden;
}
/* section1 */
.section_1 {
    height: 500px;
    color:white;
    background-color: #3BBC9C;
}
.section_1 h3 {
    padding-top: 40px;
}
.section_1 p {
    padding-top: 25px;
}
.btn_middle:hover {
    color: black;
    background-color: white;
}
.btn_middle a:hover,
.btn-green a:hover {
    text-decoration: none;
}
.btn_middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
}
/* section2 */
.section_2 {
    margin-bottom: 20px;
}
.section_2 h3 {
    color:#333333;
}
.section_2 .star_divider {
    color:#2C3E51;
}
.no_padding > label,
.no_padding > input {
    padding:0px;
}
label {
    margin-top : 10px;
    color:#394959;
}
input {
    border: 0px;
    border-bottom: 1px solid lightgrey;
}
input:focus {
    outline: none;
}
.section_2 .btn_green {
    width: 60px;
    color: white;
    background-color: #3BBC9C;
    border: none;
}
.section_2 .btn_green:hover {
    color: #fff;
    background-color: #159a80;
    border-color: #148f77;
}
.section_2 .btn_green a:hover {
    text-decoration: none;
}

.no_padding > input.message {
    height: 70px;
    margin-bottom: 15px;
}
/* footer */
footer {
    color: white;
    text-align: center;
}
.section_footer_1 {
    font-size: 20px;
    background-color: #3A546E;
}
.margin_top_30 {
    margin-top: 30px;
}
.little_logos {
    display:inline-block;
    width:50px;
    height:50px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 50%;
}
.little_logos i {
    line-height: 50px;
    vertical-align: middle;
}
span {
    color:#3BBC9C;
}
span:hover {
    text-decoration: underline;
}
.section_footer_2 {
    height: 120px;
    line-height: 120px;
    vertical-align: middle;
    background-color: #2C3E51;
}
.little_logos:hover {
    color:#2C3E51;
    background-color: white;
}

/* query */
@media screen and (max-width: 767px) {
    
    .navbar-toggle {
        margin-top: 33px;
        margin-bottom: 33px;
        background-color: #2C3E51;
    }
    .collapse.navbar-collapse {
        background-color: #2C3E51;
    }
    header h4 {
        font-size: 16px;
    }
    .jumbotron h5 {
        font-size : 16px;
    }
}
@media screen and (min-width: 768px) {
    
    header h4 {
        font-size: 30px;
    }
    h5 {
        font-size : 30px;
        font-weight: 400;
    }
    .main_image {
        height: 220px;
    }
    .section_1 {
        height: 400px;
    }
    .section_2 {
        height: 450px;
    }
    .section_footer_1 h4 {
        font-size: 28px;
    }

}
@media screen and (min-width: 1170px) {
    
    .section_1 {
        height: 350px;
    }
    .section_footer_1 {
        height: 200px;
    }
   
}